

.body_wrapper{
  background-color: #ececec;
  display: flex;
  width: 90%;
  margin: auto;
  padding-top: calc(0vh + 1%);
}


@media only screen and (max-width: 1000px) {
  .body_wrapper {
    width: 100%;
  }
}