*, html {

  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.788);
}

.form {
  padding: 6rem;
  margin: 5rem;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.app_body {
 padding-top: 4rem ;
 width: 90%;
 margin: auto;
 max-width: 1100px;
 
}

body {
  background-color: #fafafa;
}



.article_body {
  font-family: 'Lora', serif;
  font-size: 1.1rem;
  margin: 2rem 0rem;
  color: rgba(0, 0, 0, 0.84);

}



.whitespace{
  height: 12vh;
}

.body_wrapper {
  margin: 0rem auto;
  height: 100%;
  width: 80%;
  border: 1px solid rgb(199, 199, 199);
  background-color: white;
  padding: 2rem;
  overflow: hidden;
}

@media only screen and (min-width: 1200px) {
  .body_wrapper {
    width: 60%;
  }
}

.article_title {
  color: rgba(0, 0, 0, 0.84);
  font-family: 'Lora', serif;
  font-size: 3rem;
  line-height: 3.7rem;
  font-weight: bold;
  padding: 1rem 0rem;
}
@media only screen and (max-width: 500px) {
  .article_title {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}


.article_author {
  color: rgba(0, 0, 0, 0.548);
  font-weight: medium;
  font-size: 1.3rem;
  padding: .5rem 0;
  text-transform: capitalize;
}

.article_tags{
  display: flex;

}

.article_tag {
  
  padding: .3rem;
  font-size: .75rem;
  background-color: #FD6ECE;
  color: white;
  margin: 0.2rem 0rem 0rem 0.2rem;
  outline: none;
  border: none;
  text-transform: lowercase;
}


.headline_span, .body_span  {
  font-weight: bold;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.84);
}


.create_headline, .create_tags  {
  color: rgba(0, 0, 0, 0.84);
  width: 100%;
  padding: .6rem;
  margin: .4rem 0rem 1rem 0rem;
  font-size: 1.2rem;
}


.ql-editor {
/*   font-size: 2.6rem !important; */
  height: 60vh !important;
  width: 100% !important;
  min-width:56vw;
  background-color: white !important;
  color: rgba(0, 0, 0, 0.84);
}
.ql-toolbar {
  margin-top: .4rem;
}

.create_wrapper {
  height: 100vh;
  width: 100vw;
  margin: auto;
  padding: 7rem 5rem;
}

.btn_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 1rem 0rem;

}

.submit_btn {
  color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  height: 3rem;
  width: 14rem;
  background-color: #6E86FD;
  
  font-size: 1.1rem;
}

.submit_btn:hover {
  background-color: #6EFD9D;
}

.submitted{
  margin: auto;
  text-align: center;
  width: 100%;
  padding: 9rem 0rem;
  font-size: 1.2rem;
}


.feed_btn {
  color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  height: 3rem;
  width: 11rem;
  background-color: #6E86FD;
  
  font-size: 1.1rem;
}

.feed_btn:hover {
  background-color: #6EFD9D;
}