
.nav_wrapper {
  position: fixed;
  width: 100%;
}
.navbar {
  background-color: #fde56eb2;
  height: 6.8rem;
  font-size: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  margin-bottom: 2rem;
}

.navbar_logo {
  color: black;
  border-radius: 0.5rem;
  padding: 1rem;
  font-family: 'Lora', serif;
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-size: 2.5rem;
}

.navbar_write {
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: 'Lora', serif;
  padding: 0.8rem 1rem;
  font-size: 1.3rem;
  border: 1px solid black;
  border-radius: 5px;
}

.navbar_write:hover {
  color: white;
  background-color: black;
}
