
.nav_wrapper {
  position: fixed;
  width: 100%;
}
.navbar {
  background-color: #fde56eb2;
  height: 3.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.3rem;
  margin-bottom: 1.5rem;
}

.navbar_logo {
  color: black;
  padding: .5rem;
  font-family: 'Lora', serif;
  font-weight: bold;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

.navbar_write {
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: 'Lora', serif;
  padding: 0.5rem .7rem;
  font-size: 1rem;

  border: 1px solid black;
  border-radius: 5px;
}

.navbar_write:hover {
  color: white;
  background-color: black;
}
