.feed_card {
  cursor: pointer;
  padding: 1.2rem 1.2rem 1.2rem 1.2rem;
  margin: .5rem auto;
/*   border: 1px solid rgb(199, 199, 199);
 */  background-color: white;
  overflow: auto;
  flex: 7;
  min-width: calc(250px + 25vw);
  
}

.feed_header {
  cursor: pointer;
  padding: .7rem;
  margin: .5rem auto;
  /* border: 1px solid rgb(199, 199, 199); */
  background-color: white;
  width: 100%;
  overflow: auto;
  flex: 7;
  min-width: calc(250px + 25vw);
 
  display: flex;
  align-items: center;
  justify-content: center;

}

.feed_body {
  height: 140vh;
  width: 100%;
}

.link{
  color: #ff6c6c;
}

.header_btn, .header_btn_selected {
  font-size: .8rem;
  width: 5rem;
  height: 30px;
  color: white;
  border: 2px solid white;
  padding: 0rem 1rem;
  margin: 0rem .5rem;
  text-align: center;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #4d9bd6;
}
.header_btn:hover{
  transform: scale(1.0);
  border: 2px solid #f3d250;
}

.header_btn_selected {
  background-color: #f3d250 ;
  color: black;
}

.header_btn_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
