.feed_card {
  cursor: pointer;
  padding: 1.5rem;
  margin: .5rem 0rem;
  border: 1px solid rgb(199, 199, 199);
  background-color: white;
  width: 100%;
  overflow: auto;
  flex: 5;

}

.feed_card:hover {
 
  
}

