.sidebar {
  flex: 2;
  width: 22rem;
  max-width: 22rem;
  min-width: 14rem;
  border: 1px solid rgb(199, 199, 199);
  height: 100%;
  margin: .5rem;
  background-color: white;
  padding: 1rem;
  
}

@media only screen and (max-width: 740px) {
  .sidebar {
    display: none;
  }
}

.sidebar_title{
  font-weight: 500;
  padding: .5rem;
}

.sidebar_tags {
 
  
}
.sidebar_tag {
  float: left;
  clear: left;
  cursor: pointer;
  padding: .3rem;
  font-size: .75rem;
  background-color: #fd6e9e;
  color: white;
  margin: 0.2rem 0rem 0rem 0.2rem;
  outline: none;
  border: none;
}