.sidebar {
  
  max-width: 12rem;
  min-width: 6rem;
  border: 1px solid rgb(199, 199, 199);
  height: 100vh;
  margin: .5rem;
  background-color: white;
  
}

@media only screen and (max-width: 740px) {
  .sidebar {
    display: none;
  }
}