.sidebar {

  min-width: 20vw;
  flex: 2;
  border: 1px solid rgb(199, 199, 199);
  height: 100%;
  margin: .5rem;
  background-color: white;
  padding: 1rem;
  max-width: 300px;
  
  
}

@media only screen and (max-width: 720px) {
  .sidebar {
    display: none;
  }
}

.sidebar_title{
  font-weight: 500;
  padding: .5rem;
}

.sidebar_tags {
 
  
}
.sidebar_tag {
  float: left;
  clear: left;
  cursor: pointer;
  padding: .3rem;
  font-size: .75rem;
  background-color: #fd6e9e;
  color: white;
  margin: 0.2rem 0rem 0rem 0.2rem;
  outline: none;
  border: none;
}

.sidebar_tag:focus {
  background-color: #6ecdfd;
}

.sidebar_profile {
  width: 98%;
  border: 1px solid rgb(199, 199, 199);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .4rem auto .7rem;
  text-align: center;
  padding: .7rem;
 
  
}

.sidebar_img {
  width: 5vw;
  border-radius: 50%;
  margin: auto;
  display: block;
}

.sidebar_name {
  padding: 1rem;
  font-weight: 500;
}

.sidebar_login{
  color:rgba(0, 0, 0, 0.84);
  cursor: pointer;
  padding: 0.7rem .3rem;
  margin: .1rem auto;
  font-size: .9rem;
  max-height: 3rem;
  border: 1px solid #6ecdfd;  border-radius: 5px;
  background-color: #6ecdfd;
  color: white;
  width: 50%;
  min-width: 4rem;

  
}

.sidebar_login:hover {
 
  background-color: #9efd6e;
  border: 1px solid #9efd6e;
}

.sidebar_text {
  font-size: 1rem;
  padding: .4rem;

}


.sidebar_tagline {
  font-size: 1rem;
  padding: .4rem;
  font-weight: 500;

}

@media only screen and (max-width: 990px) {
  .sidebar_text {
    display: none;
  }
  .sidebar_tagline {
    font-size: .9rem;
    padding: 0rem;
  }
}