.submit_btn {
  color: rgba(0, 0, 0, 0.84);
  border: 1px solid black;
  height: 3rem;
  width: 14rem;
}

.headline_span, .body_span  {
  font-weight: bold;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .017rem;
  color: rgba(0, 0, 0, 0.84);

}



.create_headline {
  color: rgba(0, 0, 0, 0.84);
  height: 4rem;
  width: 100%;
  padding: 1rem;
  margin: .4rem 0rem 1.2rem 0rem;
  font-size: 1.4rem;
}


.ql-editor {
/*   font-size: 2.6rem !important; */
  height: 60vh !important;
  width: 80% !important;
  background-color: white !important;
}
.ql-toolbar {
  margin-top: .4rem;
}

.create_wrapper {
  height: 100vh;
  width: 100vw;
  margin: auto;
  padding: 7rem 5rem;
}

