.feed_card_inner {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card_title {
  font-size: 2rem;
  margin: .5rem;
  font-family: 'Lora', serif;
  font-weight: bold;
  line-height: 2.1rem;
}

.card_tags {
  display: flex;
  padding: 0.5rem 0rem;
}

.tag {
  cursor: pointer;
  font-size: .75rem;
  padding: 0.2rem;
  background-color: #fde56eb2;
  margin: 0.1rem 0rem 0rem 0.27rem;
}

.card_author {
  font-size: 1rem;
  padding: 0 0.4rem;
  color: rgba(0, 0, 0, 0.548);
  font-weight: medium;
}
.card_btn {
  float: right;
  padding: .5rem;
  color: black;
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 4px;
  font-size: .8rem;
}


.card_btn:hover {
  
  background-color: #6EFD9D;
  border: 1px solid white;
  color: white;
}
