
.nav_wrapper {
  position: fixed;
  width: 100%;
  height: 3.8rem;
  top: 0;
  
}
.navbar {
  background-color: #FDE56E;
  height: 3.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.3rem;
  margin-bottom: 1.5rem;
 
}

@media only screen and (min-width: 1000px) {
  .navbar {
    padding: 0 4rem;
  }
}

.navbar_logo {
  color: rgba(0, 0, 0, 0.84);
  padding: .5rem;
  font-family: 'Lora', serif;
  font-weight: bold;
  font-size: 1.6rem;
  display: flex;
  

}

.logo_png {

color: rgba(0, 0, 0, 0.84);

display: inline-block;
width: 2.5rem;
padding: .3rem;
margin: 0 2rem 0 0;

}

.navbar_write {
  color:rgba(0, 0, 0, 0.84);
  cursor: pointer;
  padding: 0.5rem .6rem;
  font-size: .9rem;
  max-height: 3rem;
  border: 1px solid rgba(0, 0, 0, 0.84);
  border-radius: 5px;
  
}

.navbar_write:hover {
  color: white;
  background-color: #6E86FD;
  border: 1px solid #6E86FD;
}


@media only screen and (max-width: 400px) {
  .navbar_write {
    font-size: .8rem;
  }
  .logo_png {
    margin: 0 .8rem 0 .2rem;
  }

  .navbar {
    padding: 1rem;
  }
}
@media only screen and (max-width: 312px) {
  .navbar_write {
    display: none;
  }
}