

.footer_wrapper {
 
  max-width: inherit;
  height: 3rem;
  margin: auto;
  position: fixed;
  left: 10%;
  bottom: 1.4%;
  width: 80%;
  
}

@media only screen and (min-width: 1200px) {
  .footer_wrapper  {
    width: 60%;
    position: fixed;
  left: 20%;
  bottom: 1.4%;
  }
}

.footer {
  background-color:  #ececec;
  height: 3.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  color: black;
/*   border-top: 1px solid rgb(199, 199, 199);
 */}

.footer_upvote, .footer_upvote_clicked, .footer_share, .footer_discuss  {
  color: black;
  cursor: pointer;
  border: 1px solid white;
  padding: .4rem .8rem;
  font-size: .9rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 80px;
 background-color: #ff6c6c;
}

.footer_share {

  height: 2.8rem;
  
}

.tweet_link {

  color: white;
  padding: 0 0 0 .4rem;

}



.footer_upvote_clicked {
  background-color: #ff6c6c;
  border: 3px solid rgb(250, 250, 123);
  cursor: default;
}

.footer_upvote:hover, .footer_share:hover, .footer_discuss:hover {
  border: 1px solid white;
  transform: scale(1.1);
}
.footer_upvote:active, .footer_share:active, .footer_discuss:active {
  border: 1px solid white;
  transform: scale(1);
}

.votes_wrapper {
  display: flex;
}

.footer_votes {
  color: white;
}

.footer_logo{
  width: 30px;
  display: block;
  margin: 0rem;
}

@media only screen and (max-width: 400px) {
  .footer_upvote, .footer_share {
    font-size: .8rem;
    
  }
}

@media only screen and (max-width: 400px) {
  .footer{
    padding: 1rem 1rem;

    overflow: none;
}}