.footer_wrapper {
  width: 80%;
  max-width: inherit;
  height: 3rem;
  position: fixed;
  left: 10%;
  bottom: 1.4%;
  margin: auto;
}

.footer {
  background-color: #6ecdfd;
  height: 3.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;

}

.footer_upvote, .footer_share {
  color: white;
  cursor: pointer;
  border: 1px solid white;
  padding: .4rem .6rem;
  font-size: .9rem;
  border-radius: 4px;
}

.footer_upvote:hover, .footer_share:hover{
  background-color: #9efd6e;
}


@media only screen and (max-width: 400px) {
  .footer_upvote, .footer_share {
    font-size: .8rem;
    
  }
}

@media only screen and (max-width: 400px) {
  .footer{
    padding: 1rem 1rem;

    overflow: none;
}}